.score-line {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.button {
    background-color: rgb(125, 125, 125);
    color: rgb(255, 255, 255);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
